<!--small label to selelect one of the specific-->
<div id="<%=list.tagging_system.media_type%>_link_replace" class="link_replace">
		<%= render :partial => 'tab_links', :locals =>{:list => list} %>
</div>
<!--the special list for a media type-->
	<div id="border_one"><div id="border_two"><div id="border_three"><div id="border_four">
		<div class="list">
			<!-- list header tab-->
			<div id="<%=list.tagging_system.media_type%>_list_header" class="list_header"> 
				<%= render :partial => "list_header", :object => list%>
			</div>
			<!-- list navigation according to each system -->
			<div id="<%=list.tagging_system.media_type%>_list_nav" class="list_navigation">
				<%= render :partial => "list_navigation", :object => list, 
					   	   :locals => {:system => system,
								   :sort_by => "relevance"}  %>
			</div>
			<!-- resources list  -->
			<div id="<%=list.tagging_system.media_type%>_table">
				<div id="<%=list.tagging_system.media_type%>_table_row" class="table_row">
					<div id="<%=list.tagging_system.media_type%>_replace">
						<%= render :partial => 'resource', :collection => list.resources, 
						   :locals =>{:system => list.tagging_system.nick, 
								   	  :media_type => list.tagging_system.media_type,
									  :page => list.actual_page} %>		

						<%= javascript_tag %{ $$("p .test").each ( function(link) {
									new Tooltip(link, {mouseFollow: false});}) } %>
					</div>
				</div>	
			</div>		
		</div>
	</div></div></div></div>